*~
*.pyc
.*.swp
/.build
/c2cgp_minimal2.egg-info
/jsbuild/app.cfg
/node_modules
/apache/README.txt
/apache/frontend.conf
/apache/mapserver.conf
/apache/wsgi.conf
/apache/application.wsgi
/deploy/deploy.cfg
/alembic.ini
/alembic_static.ini
/development.ini
/production.ini
/project.yaml
/print/config.yaml
/print/WEB-INF/lib/*.jar
/mapserver/c2cgeoportal.map
/deploy/hooks/post-restore-database
/c2cgp_minimal2/static/build/
/c2cgp_minimal2/locale/*/LC_MESSAGES/*.mo
/c2cgp_minimal2/locale/c2cgp_minimal2-server.pot
/c2cgp_minimal2/static/mobile/resources/sass/.sass-cache
/c2cgp_minimal2/static/mobile/resources/css/app.css
/c2cgp_minimal2/static/mobile/archive/
/c2cgp_minimal2/static/mobile/build/
/c2cgp_minimal2/static/mobile/openlayers-mobile.js
/c2cgp_minimal2/static/mobile/bootstrap.js
/c2cgp_minimal2/static/mobile/bootstrap.json
